<div *ngIf="isLoading">
    <app-loader />
  </div>
<section id="deatils-page" *ngIf="!isLoading">
    <div class="wrapper">
        <div class="img">
            <img src="{{studio.img}}">
        </div>
        <div class="info">
            <div class="text">
                <div class="text">
                    <h1>{{studio.studioName}}</h1>
                    <p>{{studio.description}}</p>
                </div>
            </div>
            
            <div class="btn">
                <a routerLink="/studios/gallery" class="morePhotos">More photos</a>
                <a routerLink="/studios/book" class="bookNow">Book now</a>
                <span *ngIf="isAdmin">
                    <a routerLink="/studios/edit/{{studio._id}}" class="edit">Edit</a>
                    <a class="delete" (click)="deleteStudio()">Delete</a>
                </span>
            </div>
        </div>
    </div>
</section>