<div class="form login">
    <div class="form-content">
        <header>Login</header>
        <form #form="ngForm" (ngSubmit)="login(form)">
            <div class="field input-field">
                <input type="email" placeholder="Email" class="input" name="email" ngModel #inputEmail="ngModel" required pattern="^[a-zA-Z0-9]{3,}@[a-z]+\.[a-z]{2,3}$">
            </div>
            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">
                    Email is required!
                </p>
                <p class="error" *ngIf="inputEmail.errors?.['pattern']">
                    Email doesn`t match!
                </p>

            </ng-container>
            <div class="field input-field">
                <input type="password" placeholder="Password" class="password" name="password" ngModel
                    #inputPass="ngModel" required minlength="6">
                <i class='bx bx-hide eye-icon'></i>
            </div>
            <ng-container *ngIf="inputPass.touched">
                <p class="error" *ngIf="inputPass.errors?.['required']">
                    Password is required!
                </p>
                <p class="error" *ngIf="inputPass.errors?.['minlength']">
                    Password must be at least 6 characters!
                </p>
            </ng-container>

            <div class="field button-field">
                <button [disabled]="form.invalid">Login</button>
            </div>
        </form>
        <div class="form-link">
            <span>Don't have an account? <a routerLink="/register" class="link signup-link">Signup</a></span>
        </div>
    </div>