<div class="form login">
    <div class="form-content">
        <header>Login</header>
        <form #form="ngForm" (ngSubmit)="login(form)">
            <div class="field input-field">
                <input type="email" placeholder="Email" class="input" name="email" ngModel #inputEmail="ngModel" required>
            </div>
            <div class="field input-field">
                <input type="password" placeholder="Password" class="password" name="password" ngModel #inputPass="ngModel" required minlength="6">
                <i class='bx bx-hide eye-icon'></i>
            </div>
            
            <div class="field button-field">
                <button>Login</button>
            </div>
        </form>
        <div class="form-link">
            <span>Don't have an account? <a routerLink="/register" class="link signup-link">Signup</a></span>
        </div>
    </div> 