<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">

<div class="gallery">
	<div class="gallery__column">
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/XssJtQ0/IMG-4d9d8920eda170051b3d1bf74b70bd21-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a href="/studios" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/1sm5VtN/IMG-a97fa8a72e6b6776fe07fd733ad9f8ab-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a href="/studios" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/sKp90G1/IMG-ca49b8926aa86e42dfd1a5ac5d6318af-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a href="/studios" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/v39P4LD/IMG-47d99d36401c57b8fd9b2f7b009dec80-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a href="/studios" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/3vG10Pf/IMG-d6e551bc2234c811d54eb80ec2ac67c8-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="600px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a href="/studios" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/d77y6w1/IMG-85aa1ba61804a6707333f214de53847d-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a href="/studios" target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/9yzQ9w3/IMG-81cd717f293f872f223fe2b6ddac34b3-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="600px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
	</div>

    <div class="gallery__column">
		
		<a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/SsLZfrS/IMG-94f5f59d2f61bade95df73a63b2822ac-V.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/vvw0qwB/IMG-361a88190bce2902b63edbf1d219b7e3-V.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/6Jspth9/IMG-6810e972fd9e93384eafd931721dab2a-V.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/v31qnng/IMG-20220902-192902.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="600px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/rHWPznQ/IMG-20220902-192844.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="600px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/7Qgrjsj/IMG-20220901-150030.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/0qcRQSz/IMG-20230628-111511.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/r6RwHv2/IMG-b018fd2eeffb19b085ff0d202fbaf11d-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="600px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
		
		<a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/rprqFD3/IMG-a7cd5a148ff2a810bf66eb4ed96d1c56-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/G2fqyzp/IMG-4871f72ddf8c9165ffc1c6c55f718876-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="600px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/x5VfDHG/IMG-d08ab840ad88ddb40d464808b5e821ee-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/ZMM1QnP/IMG-6f5d91803a948b49cdba6bf23bcea904-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/fCsrrgQ/IMG-fbf88a89afbc332603667938704add3f-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
        <a href="/studios" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/RpPxjrp/IMG-18ff2b268fd92e56d34d2c37c74cc336-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
	</div>
	
	
</div>

<div class="gallery-mobile">
	<div class="gallery__column">
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/XssJtQ0/IMG-4d9d8920eda170051b3d1bf74b70bd21-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a  target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/1sm5VtN/IMG-a97fa8a72e6b6776fe07fd733ad9f8ab-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a  target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/sKp90G1/IMG-ca49b8926aa86e42dfd1a5ac5d6318af-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a  target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/v39P4LD/IMG-47d99d36401c57b8fd9b2f7b009dec80-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a  target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/3vG10Pf/IMG-d6e551bc2234c811d54eb80ec2ac67c8-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a  target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/d77y6w1/IMG-85aa1ba61804a6707333f214de53847d-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
        <a  target="_blank" class="gallery__link">
            <figure class="gallery__thumb">
				<img src="https://i.ibb.co/9yzQ9w3/IMG-81cd717f293f872f223fe2b6ddac34b3-V.jpg" alt="Studio 1" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 1</figcaption>
			</figure>
        </a>
	</div>

    <div class="gallery__column">
		
		<a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/SsLZfrS/IMG-94f5f59d2f61bade95df73a63b2822ac-V.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/vvw0qwB/IMG-361a88190bce2902b63edbf1d219b7e3-V.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/6Jspth9/IMG-6810e972fd9e93384eafd931721dab2a-V.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/v31qnng/IMG-20220902-192902.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/rHWPznQ/IMG-20220902-192844.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/7Qgrjsj/IMG-20220901-150030.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/0qcRQSz/IMG-20230628-111511.jpg" alt="Beach and Views" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Beach and Views</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/r6RwHv2/IMG-b018fd2eeffb19b085ff0d202fbaf11d-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
		
		<a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/rprqFD3/IMG-a7cd5a148ff2a810bf66eb4ed96d1c56-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/G2fqyzp/IMG-4871f72ddf8c9165ffc1c6c55f718876-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/x5VfDHG/IMG-d08ab840ad88ddb40d464808b5e821ee-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/ZMM1QnP/IMG-6f5d91803a948b49cdba6bf23bcea904-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/fCsrrgQ/IMG-fbf88a89afbc332603667938704add3f-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
        <a  target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://i.ibb.co/RpPxjrp/IMG-18ff2b268fd92e56d34d2c37c74cc336-V.jpg" alt="Studio 2 & 3" class="gallery__image" width="400px" height="400px">
				<figcaption class="gallery__caption">Studio 2 & 3</figcaption>
			</figure>
		</a>
	</div>
	
	
</div>