<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Contacts</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 mb-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text">
                                <p><span>Address:</span>Sozopoli, Chalkidiki, Greece</p>
                              </div>
                          </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text">
                                <p><span>GPS coordinates:</span>40.272499, 23.168076</p>
                              </div>
                          </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text">
                                <p><span>Phone:</span> <a href="tel://1234567920">+30 697 358 2998 +30 697 530 5336</a></p>
                              </div>
                          </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text">
                                <p><span>Email:</span> <a href="mailto:info@yoursite.com">sozopoli@outlook.com</a></p>
                              </div>
                          </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>