<header>
  <nav class="desktop">
      <div>
          <i routerLink="/" class="logo"><img
                  src="https://i.ibb.co/F7zTTVy/sozopoli-studios-low-resolution-logo-color-on-transparent-background.png"
                  alt="logo"></i>
  
      </div>
      <a routerLink="/about">About</a>
      <a routerLink="/studios">Studios</a>
      <a routerLink="/studios/gallery">Gallery</a>
      
      <span *ngIf="!isLoggedIn">
          <a routerLink="/auth/login">Login</a>
          <a routerLink="/auth/register">Register</a>
      </span>
      
      <span *ngIf="isLoggedIn">
          <a routerLink="/studios/book">Book now</a>
          <a routerLink="/auth/logout">Logout</a>
      </span>
      <span *ngIf="isAdmin">
        <a routerLink="/studios/create">Create</a>
      </span>
  </nav>

  <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="https://i.ibb.co/F7zTTVy/sozopoli-studios-low-resolution-logo-color-on-transparent-background.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/studios">Studios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/studios/gallery">Gallery</a>
              </li>
              <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link active" aria-current="page" routerLink="/studios/create">Create</a>
              </li>
              <div *ngIf="isLoggedIn">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/studios/book">Book now</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/auth/logout">Logout</a>
                </li>
              </div>
              <div *ngIf="!isLoggedIn">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/auth/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/auth/register">Register</a>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  
</header>