<div *ngIf="isLoading">
  <app-loader />
</div>
<div id="myCarousel" class="carousel carousel-fade slide" *ngIf="!isLoading">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="0">
          <a routerLink="/studios/{{studio1[0]._id}}">
          <img src="{{studio1[0].img}}" class="d-block w-100" width="1000px" height="750">
        </a>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-white fst-marck fs-3">{{studio1[0].studioName}}</h5>
            <p class="text-white fst-marck fs-3">Domestic studio with beautiful sea view</p>
          </div>
        </div>
      <div *ngFor="let studio of studiosList" class="carousel-item">
        <a routerLink="/studios/{{studio._id}}">
          <img src="{{studio.img}}" class="d-block w-100" width="1000px" height="750">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-white fst-marck fs-3">{{studio.studioName}}</h5>
          <p class="text-white fst-marck fs-3">A modern vision for the discerning</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>