<section id="deatils-page">
    <div class="wrapper">
        <div class="img">
            <img src="https://i.ibb.co/mhm2qs1/20230810-130627.jpg">
        </div>
        <div class="info">
            <div class="text">
                <div class="text">
                    <h1>SozopoliStudios</h1>
                    <p>Originally built for personal use only Sozopoli Studios turned to be the best place for your
                        summer vacation with their only 28 steps far from the sea and a perfect sea view. These are
                        studio-type rooms with a living room, bathroom, air conditioning and internet. All three studios
                        are equipped with everything you need for your vacation. The big garden in front is perfect area
                        for both playing with your kids or simply relaxing. No time for doubts.<a
                            routerLink="/studios/book">Book</a> your vacation now.</p>
                </div>
            </div>

        </div>
    </div>
</section>