<div class="welcome">
      <h1>Welcome to Sozopoli Studios!</h1>
      <p>Only 28 steps far from the sea!</p>
    </div>
    <div >
    <div class="weather">
        <a class="weatherwidget-io" href="https://forecast7.com/en/40d2823d15/sozopoli/" data-label_1="SOZOPOLI" data-label_2="WEATHER" data-font="Helvetica" data-icons="Climacons Animated" data-days="5" data-theme="sky" data-basecolor="rgba(22, 127, 219, 0.9)" data-cloudfill="#c5e7f4" >SOZOPOLI WEATHER</a>
    </div>
    <app-contacts />
</div>