div{
    margin-top: 4em;
    margin-bottom: 4em;
}
h1{
    text-align: center;
    color: #0171d3;
}
p{
    text-align: center;
    
}
@media screen and (max-width: 1171px) {
    div{
        margin-top: 14em;
    }
}
